body, html, .container-fluid {
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	overflow-x: hidden;
	position: relative;
}

a {
	cursor: pointer;
}

.nav-link:hover, .navbar-brand:hover, .scroll:hover, .fas:hover {
	color: #ff5757!important;
}

.intro {
    color: white;
	font-family: 'Josefin Sans';
	font-size: 5rem;
	font-weight: 600;
	letter-spacing: .15em;
	min-height: 300px;
}

#parallax {
	background-image: url("images/purple_sky_background.jpg");
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	max-width: 500px;
}
  
.overlay {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 500px;
	max-height: 500px;
	opacity: 0;
	transition: .5s ease;
	background-color: #ff5757;
	text-align: center;
}

.overlay a {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
}

.overlay a {
	color: black;
	font-family: 'Josefin Sans';
	font-size: 2rem;
	font-weight: 500;
	text-decoration: none;
	opacity: 1;
}

.showcase-container {
	max-width: 500px;
	margin: auto;
}
  
.showcase-container:hover .overlay {
	opacity: 0.8;
}

.fab, .fas {
	font-size: 30px;
	color: black;
}

.fa-chevron-down {
	visibility: hidden;
}

.navbar-brand {
	color: black;
	font-family: 'Josefin Sans';
	font-size: 2rem;
	font-weight: 500;
}

.main-nav {
	color: black;
	font-family: 'Josefin Sans';
	font-size: 1.25rem;
	font-weight: 500;
}

.spacer {
	height: 100px;
}

.social-icons {
	display: inline;
	padding: 0;
}

.social-icons li {
	display: inline;
}

@media (max-width: 600px) {
	body {
		overflow-x: hidden;
	}
	img, .overlay, .showcase-container {
		max-width: 300px;
	}
	.spacer {
		max-height: 50px;
	}
	#parallax {
		background-attachment: scroll;
	}
	.intro {
		font-size: 3rem;
	}
	.intro-spacer {
		max-height: 200px;
	}
	.fa-chevron-down {
		visibility: hidden;
	}
}