*, a, .typewriter {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

body {
    background-color: #8E7CC3;
}

h1, h3, .name, .navbar-brand, .about_header {
    font-weight: 700;
}

.name {
    letter-spacing: 0.2em;
}

.nav-link:hover, .navbar-brand:hover, a:hover {
    color: black!important;
    cursor: pointer!important;
    text-decoration: none!important;
}

.showcase {
    box-shadow: 0px 2.5px 25px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2.5px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px 55px 0px rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}

.showcase:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2.5px 55px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2.5px 55px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px 55px 0px rgba(0,0,0,0.5);
}